<div class="page-header">
  <%= link_to match_criteria_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_match_criterium_path(@match_criterium), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show match_criterium</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @match_criterium.title %></dd>

  <dt>Match category:</dt>
  <dd><%= @match_criterium.match_category %></dd>

</dl>
